.container {
    max-width: 733px;
    display: flex;
    flex-direction: column;
}

.boxTopGray,
.boxTopRed,
.boxTopYellow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 40px;
}

.boxTopGray {
    background-color: var(--light-gray);
}

.boxTopRed {
    background-color: var(--dark-red);
}

.boxTopYellow {
    background-color: var(--lime-green);
}

.nameTop,
.ordinalTop {
    color: var(--white);
    font-size: 16px;
    font-family: 'SF UI Display';
    font-weight: 400;
    line-height: 17px;
    word-wrap: break-word;
}

.boxBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 177px 107px 177px;
    background-color: var(--extra-light-gray);
}

.textLine {
    position: relative;
    top: -9px;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    margin-bottom: 32px;
}

.nameBottom,
.spanBottom {
    color: var(--medium-gray);
    font-size: 16px;
    font-family: 'SF UI Display';
    font-weight: 400;
    line-height: 17px;
    word-wrap: break-word;
}

.nameBottom {
    color: var(--dark-gray);
}

.buttonLine {
    display: flex;
    align-items: center;
    gap: 25px;
}

.firstButton {
    background-color: var(--lime-green);
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.firstButton:hover,
.firstButton:focus {
    background-color: var(--olive-green);
    outline: none;
}


.secondButton {
    color: var(--dark-red);
    outline: 2px var(--dark-red) solid;
    transition: all 0.3s ease-in-out;
}

.secondButton:hover,
.secondButton:focus {
    color: var(--white);
    background-color: var(--dark-red);
    outline: none;
}

.disabledButton {
    color: var(--light-gray);
    outline: 2px var(--light-gray) solid;
    cursor: not-allowed;
    background-color: transparent;
}

.firstButton,
.secondButton,
.disabledButton {
    font-size: 16px;
    font-family: 'SF UI Display';
    font-weight: 500;
    line-height: 17px;
    word-wrap: break-word;
    padding: 15px 50px;
}